/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Custom properties*/
:root {
    --dark-color: #2d2c2c;
    --footer-color: #333333;
    --header-color: #333333;
    --header-color-alt: rgba(53, 10, 79, .5);
    --purple-light: #333333;
    --yellow-solid: #fa9e2c;
    --gradient-color: linear-gradient(to right, var(--yellow-solid), var(--purple-light));
    --gradient-color-alt: linear-gradient(to right, var(--purple-light), var(--yellow-solid));
}

html{
    font-size: 10px;
}

body{
    font-family: 'Open Sans', sans-serif ;
    font-size: 1.6rem;
    color: var(--dark-color);
}

a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

nav ul li a:hover {
    font-size: 3rem;
    color: red;
}
section{
    padding: 5rem 0;
}

/*Reusable styles*/
.container{
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

/*header style*/
.header{
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--header-color);
    z-index: 999;
}

/*Header styles-nav*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav a {
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 30px;
}

nav a:hover{
    color: red;
    font-size: 35px;
}

nav a img:hover {
    width: 100px;
    height: 90px;
    color: red;
    font-size: 35px;
}

.logo-img{
    width: 90px;
    height: 80px;
    float: left;
}

.logo-img :hover{
    width: 110px;
    height: 100px;
}

.logo {
    width: 200px;
    height: 80px;
}

.nav-list{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var( --footer-color);
    display: flex;
    flex-direction: column;
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    flex-direction: row;

}

.nav-link{
    display: block;
    color: #fff;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 5rem;
    
}

/* .hero{
    width: 100%;
    height: 90vh;
    background: url(../images/hero_background.jpg) center no-repeat;
    background-size: cover;
    margin-top: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
}

.hero::before{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color:#2d546480;
    top: 100;
    left: 0;
    z-index: -1;
}

.main-heading{
    color: white;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    margin-bottom: 2.5rem;
    
}

.title{
    font-size: 4.8rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.subtitle{
    font-size: 6.8rem;
    font-weight: 300;
    font-family: 'courgette',cursive;
} */


main {
  margin-top: 10rem;
}

.container-1 {
  width:90%;
  margin: 2rem auto; 
  box-shadow: 3px 3px 3px 3px gray;
}

/* GridView Images */
.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.inside-container {
    position: relative;
    width: 100%;
}
.text {
  color: rgb(55, 40, 194);
  font-size: 20px;
  position: absolute;
  bottom: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .1s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;

  /** Alternative Syntax **/
  /* grid-column: 3 / span 2;  */
  /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4;
  grid-row: 1 / span 5; */
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4;  */
  /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 1 / span 4; */
  /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;

  /** Alternative Syntax **/
  /* grid-column: 5 / span 4; */
  /* grid-row: 6 / span 3; */
}


.menu {
  clear: left;
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
  color: #e1591e;
  font-family: 'courgette',cursive;
}

/* To make centre Button horizontaly we need to create one tag */
#btn {
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: center;
}

.btn-group button {
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: var(--dark-color); /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-left: 40px;
  font-size: large;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: block;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: green;
  color: white;
  font-size: 25px;
}

/* Footer property start */

.footer{
    padding-bottom: 2rem;
    width: 100%;
    height: fit-content;
    background-color: var(--footer-color);
    color: #fff;
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-content-brand{
    margin-bottom: 3rem;
}

.social-media-wrap{
    text-align: center;
    
}

.footer-logo{
    float: left;
}

.social-med a{
    font-size: 25px;
    padding-left: 15px;
    padding-top: 15px;
}

.social-med a:hover {
    font-size: 35px;
}

/* Page 1 */
.main-heading1{
  font-size: 30px;
  color: #e1591e;
  font-family: 'courgette',cursive;
}

.details1 {
  width: 50%;
  float: left;
}

.details1 ul {
  padding-left: 20px;
}

.details1 ul li {
  padding-top: 10px;
}

.details1-image {
  margin-left: 70px;
  width: 35%;
}

/*Page 2*/
.para2 {
  margin-top: 20px;
}

.details2-image {
  float: left;
  width: 40%;
}

.main-heading2 {
  margin-left: 500px;
  font-size: 30px;
  color: #e1591e;
  font-family: 'courgette',cursive;
}

.details2 {
  margin-top: 20px;
  margin-left: 500px;
}

/* responsive Buttons of cuisine */
@media screen and (max-width: 700px) { 
  html, body {
    overflow-x: hidden;
  }
 body {
    width:100%;
  }

  #btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .btn-group button {
    margin: 5px auto;
    clear: left;
    width: 150px;
    height: auto;
    text-align: center;
    background-color: var(--dark-color); /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    margin-left: 40px;
    font-size: medium;
  }

  /* Add a background color on hover */
  .btn-group button:hover {
    font-size: 15px;
    border: 2px black;
  }

   /* header start */

   .header a {
    float: none;
    padding: 0;
    margin-bottom: 10px;
  }

  .header-text ul li a{
    color: white;
    display: flex;
    font-size: 15px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
    display: flex;
    padding-top: 40px;
    padding-right: 20px;
    text-align: right;
    justify-content: flex-end;
  }

  .header a:hover {
    color: red;
  }

  .header a.active {
    color: red;
  }

  .header-text{
    clear: left;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .header-text ul li a{
    color: white;
    font-weight: bold;
    display: block;
    align-items: center;
    font-size: 20px;
  }

  .nav-list {
    margin-top: -20px;
  }

  /*header stop */

  /* footer start */

  .footer{
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .footer-content-brand{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-logo {
    clear: left;
    display: flex;
    justify-content: center;
  }

  .logo-footer-image{
    margin-top: 20px;
    width: 50%;
  }

  .social-med a{
    font-size: 25px;
  }

  .social-med a:hover {
    font-size: 30px;
  }

/* footer end */

}